<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctors">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".allarticlesActivity"></activity>
        <activity android:name=".addarticleActivity" />
        <activity android:name=".apointment" />
        <activity android:name=".userchatActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".Rate_doctor" />
        <activity android:name=".sendmessage" />
        <activity android:name=".doctorhome" />
        <activity android:name=".DoctorLogin" />
        <activity android:name=".details" />
        <activity android:name=".change_password" />
        <activity android:name=".entercode" />
        <activity android:name=".forget_passord" />
        <activity android:name=".Home" />
        <activity android:name=".login" />

        <receiver
            android:name=".NotificationManager2"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>